# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.KingKnossisPotions.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\GeorgMarth\Desktop\KingKnossisPotions\.idea\.idea.KingKnossisPotions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
